.home-content{
    width: 100%;
    height: 160px;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home{
    background-color: #5D3B0C;
    color: white;
}