@font-face {
    font-family: 'Poppins Bold';
    src: url('../../../../../public/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins Medium';
    src: url('../../../../../public/fonts/Poppins-Medium.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Poppins SemiBold';
    src: url('../../../../../public/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Poppins Light';
    src: url('../../../../../public/fonts/Poppins-Light.ttf') format('truetype');
    font-style: normal;
}
.sidebar{
    background-color:#FEEFAC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 26%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile{
    font-family: 'Poppins SemiBold';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar-navigations{
    width: 96%;
    font-family: 'Poppins Medium';
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}
.sidebar-navigations div{
    height: 48px;
    width: 96%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;

}
.sidebar-navigations div div:nth-child(1){
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px;
}
.divider{
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 20px;
}
.sidebar-navigations div .dropdown-arrow{    
    width: 20%;
}

.sidebar-navigations .academic-dropdown{
    background-color: lightyellow;
    cursor:auto;
    height: auto;
    display: none;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.sidebar-navigations .academic-dropdown .active{
    background-color: red;
}
.sidebar-navigations .academic-dropdown p{
    margin: 0;
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;

}
.logout-button{
    margin-bottom: 40px;
}
.profile p:nth-of-type(1){
    margin-top:10px;
    font-size: 20px;
}